/*  some basic CSS to style the do list */
/* container styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 50%;
    margin: 5% auto;
    background: rgb(255, 255, 177);
    padding: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
}
/* Form basics */
h1 {
    text-align: center;
    padding-bottom: 10px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }

  .category {
    font-size: 10px;
    font-weight: normal;
    padding: 2px;
}
.WORK {
    background-color: #ff8c8c;
}
.PERSONAL {
    background-color: #8c8cfb;
}

  /* button styling */
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  /* list styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #4fd267;
    padding: 5px;
  }
  
  li span {
    cursor: pointer;
  }
  
  li span:hover {
    color: red;
    font-weight: bold;
  }

  /* todo: style the tasks, edit button, and 'X' */