/*  some basic CSS to style the do list */
/* general styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D94C3F;
}

h1 {
    color: #355070;
    text-align: center;
}

/* container styling*/
.container {
    width: 50%;
    margin: 5% auto;
    background: #C8C8C8;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
}

#taskContainer {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
}

#categoryContainer {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #6394cf;
}

.categoryInstructions {
    padding: 10px;
    color: #355070;
    text-align: center;
    font-weight: bold;

}

.categoryInstructions span {
    color: #C8C8C8;
    font-weight: bold;
    font-style: italic;
}

.taskInstructions {
    padding: 10px;
    color: #183619;
    text-align: center;
    font-weight: bold;
}

/* Form basics */
#categoryCancelButton {
    background-color: #565656;
    color: #C8C8C8;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#categoryCancelButton:hover {
    background-color: #242424;
    color: #C8C8C8;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f7e8e0;
}

select {
    margin: 0 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f7e8e0;
    color: #7b3e2b;
}

button[type="button"] {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #d94c3f;
    color: #fff;
    cursor: pointer;
}

.description {
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 20px;
}

.category {
    font-size: 10px;
    font-weight: normal;
    padding: 2px;
}

.BUSINESS {
    background-color: #ff8c8c;
}

.PERSONAL {
    background-color: #8c8cfb;
}

/* button styling */
button {
    padding: 10px 20px;
    background-color: #d94c3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #711e1e;
}

/* list styling */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f7e8e0;
    position: relative;
}

li span {
    cursor: pointer;
}

li span:hover {
    color: red;
    font-weight: bold;
}

li:hover {
    background-color: #f1d1bf;
}

.delete {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #7b3e2b;
    cursor: pointer;
}

.edit {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    color: #7b3e2b;
    cursor: pointer;
}

.category {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    color: #7b3e2b;
    font-style: italic;
    font-size: 14px;
}